body {
    background-color: rgb(200, 161, 161);
    
}

button {
    width: 250px;
    height: 200px;
    background-color: rgb(189, 167, 167);
    border: 2px solid white;
    border-radius: 26px;
    color: white;
    font-size: 2em;
    margin: 30px;
    transition: 0.2s;

}

button:hover {
    background-color: white;
    border: 2px solid rgb(183, 77, 77);
    color: black;
    transition: 150ms;
}