
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Centrer le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hauteur de la fenêtre de visualisation */
}

section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    width: 50%; /* Ajustez la largeur selon vos besoins */
    max-width: 600px; /* Largeur maximale */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    section {
        width: 95%;
    }
}
