body{

	background-color:rgb(203, 143, 164);
}





header{

font-family:Arial, Helvetica, sans-serif;
background-color:#ffffff;
text-align:center;
border:5px solid;
border-color:rgb(0, 0, 0);
border-radius:10px;
padding:5px;


}

section{

float:left;
margin:20px;
height:300px;
width:575px;
margin-left:2%;
background-color:rgb(255, 255, 255);
border-radius:10px;


}

footer{

padding:5px;
text-align:center;
background-color:#ffffff;
color:#fff;
padding: 10px;
clear:both;
border-radius:10px;
border:5px solid;
border-color:white;



}

h2{

font-family:Arial, Helvetica, sans-serif;
background-color:#ac959a;
text-align:center;
border-radius:10px;
margin-top:2px;
margin-left:2%;
margin-right:2%;




}

p.p1{

text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:black;


}
h1{
	color: black;
}
a{
	color: #ac959a;
	font-size: larger;

}
 .MODE{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: 200;
}
a:hover{
	color: rgb(0, 0, 0);

}
