p{
    color: blue; 
    font-weight:1000;
}
legend{
    color: green; 
    font-weight: 600;
    
}
body{
    font-weight: lighter;
}
 .a{
    color: red;
    font-weight: 300;
 }
 body{
    font-weight: lighter;
    background-image: url( photo2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}