.info{
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: antiquewhite;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 40px;
    

    }

.date1{
    border: solid;
    border-color:rgb(7, 5, 6) ;
    background-color: antiquewhite;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 40px;
}
.texteformation{
    border: solid;
    border-color: rgb(221, 138, 168);
    background-color: antiquewhite;
    float: right;
    background-color: antiquewhite;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 650px;
}
    
.date2{
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: antiquewhite;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    
}
.texteexp{
    border: solid;
    border-color: rgb(221, 138, 168);
    background-color: antiquewhite;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 922px;
    
}
.langue{
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: antiquewhite;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.textelangue{
    border: solid;
    border-color: rgb(221, 138, 168);
    background-color: antiquewhite;
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 845px;

}
footer{
    border: solid;
    border-color: rgb(221, 138, 168);
    background-color: antiquewhite;
}
section{
    border: solid;
    color: rgb(38, 27, 66);
}
header{
    border: solid;
    border-color:rgb(5, 5, 6);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: antiquewhite;
    padding-right: 70px;
    

}
.footer{
    border: solid;
    color: rgb(38, 27, 66);
}
section{
    clear: both;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: solid;
    border-color: rgb(6, 5, 8);
    background-color: antiquewhite;
    
}
.image{
    float: right;
    width: auto;
    
    height: auto;
    border: solid;
    
    
}
.one{
    border:solid;
    color: rgb(0, 0, 0);
    background-color: rgb(242, 241, 237);
}
p{
    color: black;
    font-weight: 300;
}
