body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Styles pour les titres */
h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Styles pour les sections */
section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Styles pour les paragraphes */
p {
    font-size: 1.1em;
    color: #333;
}

/* Styles pour les sous-titres */
h3 {
    color: #333;
    margin-top: 10px;
}

/* Styles pour les listes */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    section {
        width: 95%;
    }
}