
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; 
}

.barrière {
    background-color: #900500;
    color: #f7f7f7e8;
    padding: 20px 0;
    text-align: center;
}
p{
    font-size: larger;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    border: solid #23090949;
}

#menu {
    width: 150px;
    margin: 20px; 
    background-color: #e6e3e392;
    box-shadow: 0 6px 9px #000000;
    border-radius: 8px;
    padding: 10px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    border-bottom: 1px solid #060505;
    position: relative;
    padding: 15px 20px;
}

#menu ul li:last-child {
    border-bottom: none;
}

#menu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
    display: block;
}

#menu ul ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 180px;
    box-shadow: 2px 2px 8px #2d0404;
    border-radius: 8px;
    background-color: #e6e3e3db;
}

#menu li:hover > ul {
    display: block;
}

#menu ul li:hover {
    background-color:#b8afb344;
}

#menu ul ul ul {
    left: 100%;
    top: 0;
}

#menu ul ul li {
    padding: 10px;
}

#menu ul ul li:hover {
    background-color: #b8afb344;
}


.iframe {
    flex: 1;
    height: 700px; 
    border: none;
    margin-left: 20px;
    box-shadow:0 2px 5px #280908;
    border: 2px solid #2e0606;

}


.image {
    margin-left: 20px;
}

.image img {
    width: 40%; 
    height: auto; 
    border: 2px solid #2e0606;
    box-shadow:0 2px 5px #280908;
    border-radius: 15%;
    margin-top: 30px;
    
}
footer {
    width: 100%;
    background-color:#900500;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body {
    background-image: url('e3499855d81afa087a4737f85b0f47c1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}