/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.contenue {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .texte {
    float: left;
}

header .texte h1 {
    margin: 0;
}

header .image {
    float: right;
    margin-top: 10px;
}

header .image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

section {
    padding: 20px;
    background: #fff;
}

/* Styles pour les titres et les textes */
h1, h2 {
    color: #333;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.75em;
}

/* Styles pour les images */
.imagd {
    text-align: center;
    padding: 20px 0;
}

.imagd img {
    width: 200px;
    height: auto;
    border-radius: 100px;
}

h1{
    color: #eee;
    margin: 0 auto;
    text-align: center;
}